/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3465a4;
  --ifm-color-primary-dark: #2f5b94;
  --ifm-color-primary-darker: #2c568b;
  --ifm-color-primary-darkest: #244773;
  --ifm-color-primary-light: #396fb4;
  --ifm-color-primary-lighter: #3c74bd;
  --ifm-color-primary-lightest: #5185c8;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #729fcf;
  --ifm-color-primary-dark: #5a8fc7;
  --ifm-color-primary-darker: #4e87c3;
  --ifm-color-primary-darkest: #396fa8;
  --ifm-color-primary-light: #8aafd7;
  --ifm-color-primary-lighter: #96b7db;
  --ifm-color-primary-lightest: #bad0e7;
}
